@import "../../../node_modules/css-vars/css-vars";

//$css-vars-use-native: true;

$primary-color: #142440;
$primary-color-light: scale-color($primary-color, $lightness: +15%);

$secondary-color: #d4af37;

$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #cc4b37;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$dark-nav-color: #2C3840;
$bg-dark: #121212;

@include css-vars((--primary: $primary-color,
    --primary-light: $primary-color-light,
    --secondary: $secondary-color,
    --black: $black,
    --white: $white,
    --bg-primary: $white,
    --bg-secondary: $black,
    --bg-dark: $bg-dark,
    --text: $black,
    --text-secondary: $white,
    --nav-dark: $dark-nav-color,
    --nav-text-light: $white));