.theme-switch {
  border-radius: 15px !important;
  background: #cacaca;

  &::after {
    border-radius: 15px !important;
    background: #fefefe;
  }
}

body.dark {
  background: var(--bg-dark);
  color: var(--text-secondary);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    color: var(--text-secondary) !important;
  }

  table {
    color: var(--text-primary) !important;
  }

  .top-bar,
  .top-bar ul, footer {
    background: var(--nav-dark);
  }

  a {
    color: var(--nav-text-light);
  }

  section {

    &.gradient-background,
    &.secondary-background {
      background: var(--bg-dark);
    }

  }

  .divider {
    background-color: var(--bg-dark);
    color: var(--white);
  }
  
  .text-border {
  
  &-primary, &-secondary {
    border-left: solid 5px var(--white);
    padding-left: 10px;
  }
}
  
}


