section {
  margin: 50px 0;

  &.gradient-background {
    background: linear-gradient(110deg, var(--primary) 52%, $medium-gray 48%);
    color: var(--white);
    padding: 30px;
  }
  
  &.secondary-background {
    background: var(--secondary);
  }

  &.header {
    margin: 0 0 50px 0;
  }
}
