footer {
  background: var(--primary);
  color: var(--white);

  .widget_pages {
    h6 {
      display: none;
    }
    text-align: right;
  }

  a {
    color: var(--white);
    text-decoration: underline;
  }

  a:hover {
    color: var(--white);
    text-decoration: none;
  }
}

.footer-container {
  @include xy-grid-container(rem-calc(1600), 0);
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;

  section {
    @include xy-cell();

    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
