// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  color: #fff;
  font-size: 1.75rem;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

// Site title
.site-navigation {

  a {
    color: var(--white);
    margin: 0 3px 0;
    border-bottom: 2px solid transparent;
  }

  a:hover,
  .dropdown.menu > li.is-active > a {
    border-bottom: 2px solid var(--secondary);
  }

  .dropdown.menu > li.is-dropdown-submenu-parent > a::after,
  .dropdown.menu > li.is-dropdown-submenu-parent.is-active > a::after {
    border-color: var(--white) transparent transparent;
  }

  .menu > li.current_page_item > a {
    color: var(--white);
  }

}

.top-bar-title a:hover {
  border: none;
}

.top-bar,
.top-bar ul.desktop-menu,
.top-bar ul {
  background-color: var(--primary);
}

// Mobile Menu
.title-bar {
  background-color: var(--primary);
}

.title-bar-title a {
  color: var(--white);
}

.mobile-menu {
  .menu > li.current_page_item > a {
    color: var(--white);
  }
}
